extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-row.w3-amber
                .w3-container.w3-third.w3-left-align  
                    br
                    a(href="../")
                        i.fa.fa-arrow-left.fa-3x

                .w3-container.w3-third.w3-center                        
                  h1 Lista de Obras ~ PRI 2019 - TPC 7
                  br       

    br
    table.w3-table-all.w3-hoverable
      tr
        th.w3-center.w3-xlarge Ano de Criação
        th.w3-left.w3-xlarge Nome
        th.w3-center.w3-xlarge Compositor
        th.w3-center.w3-xlarge Duração
      
      each obra in lista
        tr
          td.w3-center (#{obra.anoCriacao})
          
          td.w3-left
            b #{obra.nome}

          td.w3-center= obra.compositor

          td.w3-center= obra.duracao
                    