extends layout

block content
  .w3-container
        .w3-card-4
            header.w3-container.w3-amber.w3-center
                  h1 API de Filmes ~ PRI 2019 - TPC 6  
  
  table.w3-table.w3-bordered
    tr
        th.w3-center.w3-xlarge Método
        th.w3-center.w3-xlarge Descrição
        th

    tr.w3-large
      td.w3-center Listar Filmes
        
      td.w3-center Método utilizado para listar todos os filmes presentes na Base de Dados
    
      td.w3-center
        a(href="http://localhost:3000/filmes") Listar Filmes
    
    tr.w3-large
      td.w3-center Adicionar Filmes
        
      td.w3-center Método utilizado para inserir um filme na Base de Dados
    
      td.w3-center
        a(href="http://localhost:3000/filmes/inserir") Inserir Filme

  ul.w3-ul

    li
      